Repository RGBsec/rgbctf-backend, pull requests merged in 2020-06, with the labels that each got.

#27 Fixed mongo error
  .gitignore
  app.js
Labels: bug

#50 Add a space, do not merge yet
  .github/labeler.yml
  README.md
Labels: documentation

#53 Added error middleware
  app.js
  package-lock.json
  package.json
  routes/api/scoreboard.js
  routes/api/team/create.js
  routes/api/user/login.js
  routes/api/user/logout.js
  routes/api/user/register.js
Labels: dependencies, enhancement

#61 Switched to JWT
  app.js
  package.json
  routes/api/team/join.js
  routes/api/user/login.js
  routes/api/user/register.js
  yarn.lock
Labels: dependencies, enhancement
